<div data-bind="switch: $component.itemType">

  <!--ko case: 'story'-->
  <div class="cko-hn-item-story">
    <div class="cko-headline">
      <span style="white-space: pre">{{index | padLeft:2}}.</span>
      <!--ko if: $component.url--><a href="{{url}}"><span>{{title}}</span></a><!--/ko-->
      <!--ko ifnot: $component.url--><span>{{title}}</span><!--/ko-->
    </div>
    <div class="cko-item-details">
      <small>{{score}} point{{score|plural}}</small>
      <small>by</small>
      <a href="{{by | userLink}}"><small>{{by}}</small></a>

      <a href="{{id | itemLink}}"><small>{{time | timeAgo}}</small></a>

      <small> | </small>

      <!--ko if: $component.kids && $component.kids.length > 0-->
      <a href="{{id | itemLink}}">
        <small>{{kids.length}} comment{{kids.length|plural}}</small>
      </a>
      <!--/ko-->

      <!--ko if: !$component.kids || $component.kids.length === 0-->
      <small>discuss</small>
      <!--/ko-->
    </div>
  </div>
  <!--/ko-->

  <!--ko case: 'comment'-->

  <!--/ko-->

  <!--ko case: 'job'-->

  <!--/ko-->

</div>
